<div class="post-card">
  <div class="post-header">
    <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Perfil" class="profile-pic" />
    <span>@<%= post.usuario %></span>
  </div>
  <div class="post-image">
    <img src="<%= post.imagem %>" alt="Postagem" />
  </div>
  <div class="post-footer">
    <div class="likes">1.951 curtidas</div>
    <div class="caption"><%= post.legenda %></div>
    <div class="comments">Ver todos os comentários</div>
  </div>
</div>